.header {
    --main-bg-color:#0084AD;
    --primary-bg-color:#ffff;
    --secundary-bg-color:#grey;
  }

.header{
    background-color: var(--main-bg-color);
    color:var(--primary-bg-color);
}
.nav{
    background-color: grey;
}