.documentDetail-container{
    display: flex;
}

.documentDetail-general{
    display: flex;
    flex-direction: column;
}
.document-detail-main{
    width: 100%;
}
.description-document {
    width: 70%;
    padding: 50px;
    padding-top:20px;
    padding-bottom: 30px;
}

.description-document > h1 {
   text-transform: capitalize;
}

.description-document > table tbody tr td {
    border: none !important;
    padding: 5px;
}

.description-document > table tbody tr td:first-child {
    width: 200px;
    color: var(--text);
    font-weight: bold;
}

.taskDetail-container {
    margin-bottom: 50px;
}

.fix{
    width: 240px;
    height: 50px;
}