  
.modal-header{
background: linear-gradient(90deg, #0084AD 44.3%, #FFEE19 71.22%, #FCC128 84.68%);
}

.modal-footer {
    border-top: none;
}
.new{
    font-size: 16px;
    color: #FFFFFF;
}
.content{
   margin-bottom: 15px;
     
}
.close{
   color: #FFFFFF;
   opacity: .9;
}
.box{
    margin: 60px 0px;
    width: 280px;
}


.modal-backdrop {
background-color: #00000024;
}

.modal-content {
    border:none;
}