:root {
  --primary:#009CB8;
  --text:#575756;
  --input:#E5E5E5;
  --optional:#0DADCC;  
  --main:#E5E5E5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:  100vw;
  height: 100vh;
}

.btn-primary {
  background:var(--primary) !important;
  border-color:var(--primary) !important;
}

a {
  color: var(--primary) !important;
}

.form-control{
  font-weight: bold;
  background-color: var(--input) !important;
  color: var(--text) !important;
  border: none
}

ul{
  margin:0px;
  padding:0px;
}


* {
  margin:0;
  padding:0px;
  box-sizing: border-box;
}

.btn-primary{
  background:var(--primary);
}

